<app-menu></app-menu>

<div class="container-fluid pt-3">
    <div class="row">
        <!-- LEFT SIDE OF THE SCREEN -->
        <div class="col-12 col-lg-9">
            <div class="card-info">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <h1 class="title">Crud Users</h1>
                        <h3 class="subtitle">
                            a new mode of <span>manage</span> your database of users
                        </h3>

                        <app-button textButton="Start" routerLink="/users"> </app-button>
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="../../../assets/dashboard.png" width="100%" >
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <!-- LEFT CARD -->
                <div class="col-6 ">
                    <div class="card-info">
                        <div class="row">
                            <!-- LEFT CARD TEXT -->
                            <div class="col-6 ">
                                <p class="subtitle-card">Lorem ipsum dolor,</p>
                                <p class="number-card"> 79</p>
                                <p class="span-card">Lorem ipsum dolor sit </p>
                            </div>
                            <!-- LEFT CARD SPINNER -->
                            <div class="col-6">
                            <mat-progress-spinner class="example-margin mx-auto color-spinner" mode="determinate" value="80"></mat-progress-spinner>
                            <p class="info-spinner">79/150</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-info">
                        <diV class="row">                            <!-- RIGHT CARD TEXT -->
                            <div class="col-6 ">
                                <p class="subtitle-card">Lorem ipsum dolor,</p>
                                <p class="number-card"> 79</p>
                                <p class="span-card">Lorem ipsum dolor sit </p>
                            </div>
                            <!-- RIGHT CARD SPINNER -->
                            <div class="col-6">
                            <mat-progress-spinner class="example-margin mx-auto color-spinner" mode="determinate" value="80"></mat-progress-spinner>
                            <p class="info-spinner">4/5</p>
                            </div>